@import "./Button.css";
@import "./List.css";
@import "./Card.css";
@import "./Header.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
